# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg
dist/
build/
.venv/
venv/
.pytest_cache/
.mypy_cache/

.claude
.token-counter
CLAUDE.md
docker
lutece-analyze